.navbar 
{
    background: rgba(0,0,0,0.3);
    width: max-content;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    gap: 0.8rem;
}
  .cric-image 
  {
    overflow: hidden;
    width: 100%;
    height: 50%;
  }

  .btn {
    @apply font-normal py-2 px-4 rounded-full;
  }
  .btn-blue {
    @apply bg-[#1d255c] text-white;
  }
  .btn-blue:hover {
    @apply bg-[#293063];
  }